@charset "ISO-8859-1";

#links{margin-bottom: 2em;}
img{display:block;}

#naam.errors{color: red;}

#brouwerslijst > * {display:block; text-decoration:none;}
#brouwerslijst a:nth-child(2n){background-color: #fef1ab;}